
@import "compass";
@import "bootstrap";
@import "font-awesome";

// Grid 
@import "grid/unsemantic-grid-responsive";

/* The modules directory is reserved for Sass code that doesn't cause Sass to actually output CSS. Things like mixin declarations, functions, and variables.  */

@import "modules/colors";

// Partials
@import "partials/backgrounds";
@import "partials/base";
@import "partials/buttons";
@import "partials/margins";
@import "partials/navs";
@import "partials/retina";
@import "partials/typography";
@import "partials/wordrotation";

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
  background-color: $background-color;
  overflow-x: hidden;
}

.top-row {
  background-color: $brand-color;
  display: inline-block;
  width: 100%;
}

.logo-row {

  border-bottom: 1px solid $brand-color;

  .logo-container {
    padding: 50px 0;
  }
}

.about-us-row {
  padding-top: 600px;
}

.services-row {
  padding: 80px 0 100px;
  text-align: center;

  .subtitle {
    font-style: italic;
    color: $grey-color;
    margin-bottom: 40px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      padding: 5px;
      overflow: hidden;

      a {
        border: 0.5px solid $brand-color;
        display: block;
        text-decoration: none;
        position: relative;

        &:hover {
          text-decoration: none;
          border: 0.5px solid $base-color;

          img {
            -webkit-transform:scale(1.25); /* Safari and Chrome */
            -moz-transform:scale(1.25); /* Firefox */
            -ms-transform:scale(1.25); /* IE 9 */
            -o-transform:scale(1.25); /* Opera */
             transform:scale(1.25);
          }
        }

        img {
          -webkit-transition: all 1s ease; /* Safari and Chrome */
          -moz-transition: all 1s ease; /* Firefox */
          -ms-transition: all 1s ease; /* IE 9 */
          -o-transition: all 1s ease; /* Opera */
          transition: all 1s ease;
        }

        h3 {
          position: relative;
          top: -60px;
          margin: 0px;
          text-shadow: 0px 0px 5px $grey-color;
          height: 0px;
          color: $white-color;
          width: 370px;
        }
      }
    }
  }
}

.book-now-row {

  padding: 200px 150px;
  text-align: right;

  .btn-book-now {
    background-color: $white-66-color;
    color: $accent-color;
    border-radius: 50px;
    padding: 20px 80px 10px;
    border: 1px solid $base-66-color;
    display: inline-block;
    font-weight: $bold;
    font-size: 36px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;

    small {
      font-size: 18px;
      font-style: italic;
      font-weight: $regular;
      text-transform: initial;
    }

    &:hover {
      background-color: $base-66-color;
      color: $white-color;
      text-decoration: none;
    }
  }
}

.contacts-row {
  padding: 40px 0;
  position: relative;

  .woring-hours {
    background-color: $white-color;
    border: 0.5px solid $brand-color;
    padding: 40px;
    width: 400px;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 0px;

    .time-table {
      color: $brand-color;
      letter-spacing: 10px;
      font-size: 14px;
      font-weight: $regular;
      width: 100%;
      display: block
    }

    .working-hours {
      color: $grey-color;
      font-size: 24px;
      font-weight: $regular;
      width: 100%;
      display: block;
      margin-bottom: 100px;
    }

    hr {
      border-color: $brand-color;
      border-width: 0.5px;
    }

    .day,
    .time {
      color: $grey-color;
      width: 49%;
      display: inline-block;
    }

    .time {
      text-align: right;
    }
  }

  .contact-form {
    width: 400px;
    background-color: $base-color;
    padding: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;

    .form-group {
      width: 49%;
      display: inline-block;
    }

    input,
    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 0.5px solid $white-color;
      border-radius: 0px;
      margin-bottom: 20px;
      color: $white-color;
      box-shadow: none;
    }

    textarea::placeholder,
    input::placeholder {
      color: $white-color;
      font-style: italic;
    }

    button {
      background-color: $white-color;
      color: $base-color;
      border-radius: 50px;
      text-transform: uppercase;
      width: 100%;
      font-size: 12px;
      padding: 5px;

      &:hover {
        background-color: $white-66-color;
      }
    }
  }
}

footer {
  padding: 40px 0;
  border-top: 0.5px solid $brand-color;

  .fa-heart {
    color: #ff3300;
  }

}

.heading-row {
  padding: 60px 0;

  h1 {
    color: $grey-66-color;
    font-style: normal;
    font-weight: $bold;
    font-size: 36px;
  }

  h5 {
    color: $grey-66-color;
    font-size: 18px;
  }
}

.text-row {
  padding: 80px 0;
}


.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}






/* ------------------------------------------------ Media ------------------------------------------------ */



@media (max-width: 768px) { 
  .mobile-background {
    padding: 20px;
    background-color: $base-66-color;

    h1, h2, h5 {
      color: $white-color;
    }
  }

  .about-us-row {
    padding-top: 200px;
  }

  .services-row {

    ul {

      > li {
        width: 100%;
        height: auto;

        a {
          width: 100%;

          img {
            width: 100%;
            height: auto;
          }

          h3 {
            position: absolute;
            top: 150px;
            width: 100%;
          }
        }
      }
    }
  }

  .book-now-row {

    padding: 30px 20px;
    text-align: center;

    .btn-book-now {
      line-height: 25px;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      small {
        line-height: 18px;
      }

      &:hover {
        background-color: $base-66-color;
        color: $white-color;
        text-decoration: none;
      }
    }
  }

  .contacts-row {
    height: 1000px;

    .woring-hours,
    .contact-form {
      width: 100%;
    }

    .contact-form { 
      .form-group {
        width: 100%;
      }
    }
  }

  footer {
    .text-left,
    .text-right {
      text-align: center;
    }
  }

}