.background-lady-01 {
    background-image: url("../images/background-lady-01.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 1920px 1050px;
    padding-bottom: 100px;
    min-height: 850px;

    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url("../images/background-lady-01@2x.jpg");
      }
  }

  .background-lady-02 {
    background-image: url("../images/background-lady-02.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1920px 750px;
    height: 750px;

    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url("../images/background-lady-02@2x.jpg");
      }
  }

.background-lady-03 {
    background-image: url("../images/background-lady-03.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 720px 480px;
    position: relative;
    width: 100%;
    height: 480px;

    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url("../images/background-lady-03@2x.jpg");
      }
  }

.background-lady-04 {
    background-image: url("../images/background-lady-04.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 1920px 300px;
    height: 300px;

    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url("../images/background-lady-04@2x.jpg");
      }
  }

.background-team {
    background-image: url("../images/team.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 1920px 300px;
    height: 300px;

    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url("../images/team@2x.jpg");
      }
  }

@media (max-width: 998px) { 

  .background-lady-03 {
    height: 880px;
  }
} 