// Font weights
$thin: 300;
$light: 300;
$regular: 400;
$bold: 800;

// Base Font
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $light;
$base-font-size: 14px;
$base-line-height: 24px;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

//Borders
$border-radius: 0px;