// buttons

%button {
    border-radius: $border-radius;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    opacity: 1;
    line-height: 28px;
    height: auto;
    padding: 10px 60px;

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;

    .fa {
        margin-right: 10px;
        font-size: 1.5em;
    }
  }

%primary-button {
    background-color: $accent-color;
    color: $white-color;
    border: 1px solid $accent-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $accent-dark-color;
        color: $white-color;
        border: 1px solid $accent-dark-color;
    }
  }

%default-button {
    background-color: $base-color;
    color: $white-color;
    border: 1px solid $base-color;
    
    &:hover,
    &:focus,
    &.focus {
        background-color: $base-dark-color;
        color: $white-color;
        border: 1px solid $base-color;
    }
  }

%white-button {
    background-color: transparent;
    color: $base-88-color;
    border: 1px solid $base-88-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $base-color;
        color: $white-color;
        border: 1px solid $white-color;
    }
  }


.btn {
  &-primary {
    @extend %button;
    @extend %primary-button;
  }
  &-default {
    @extend %button;
    @extend %default-button;
  }
  &-white {
    @extend %button;
    @extend %white-button;
  }
}

.btn-small {
    font-size: 0.8em;
    padding: 5px 15px;
}

.btn-big {
    padding: 20px 30px;
    font-size: 1.5em;
}

.btn-huge {
    padding: 25px 60px;
    font-size: 2em;
}

