/* Widgets
/* ========================================================================== */

.form-material {

  text-align: left;
  padding: 0 0 50px 0;

  h3 {
    text-transform: uppercase;
    font-weight: $thin;
    color: $brand-88-color;
    border-bottom: 1px solid $brand-88-color;
    margin: 50px 0 25px;
    padding: 0 0 5px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  label {
    color: $brand-88-color;
  }

  .input-group {
      display: inline-block;
      position: relative;
      width: 100%;

      .form-control {
        -webkit-appearance: none;
        /* ios */
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        border: 0px;
        background: none;
        border-bottom: 1px solid $black-22-color;
        border-right: 1px solid $black-22-color;
        color: $black-66-color;
        font-weight: $thin;
        height: 50px;
        transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;

        &::-moz-placeholder {
          color: $black-44-color;
        }

        &:focus {
          -webkit-appearance: none;
          /* ios */
          -webkit-box-shadow: none;
          box-shadow: none;
          border-color: $black-88-color;

          +.input-group-addon .fa {
            color: $black-88-color;
          }
        }

        &.has-icon {
          padding-right: 50px;
        }
      } /* end form-control */

      select.form-control {
          border: 1px solid $black-22-color;
          -webkit-appearance:none;
          -moz-appearance:none;
          appearance:none;
          cursor:pointer;

          &:hover,
          &:focus,
          &:active {
            border-color: $black-88-color;
            outline: none;
          }

          option {
            padding: 15px 12px;
          }
        }

      .select-arrow {

        position:relative;

        &:after {
          content:"\f078";   
          font-family: "FontAwesome";
          font-size: 11px;
          color: $black-22-color;
          right:20px; 
          top:18px;
          padding:0 0 2px;
          position:absolute;
          pointer-events:none;
          transition: all 0.2s ease 0s;
          -webkit-transition: all 0.2s ease 0s;
        }

        &:before {
          content:'';
          right:4px; 
          top:0px;
          width:23px; 
          height:18px;
          position:absolute;
          pointer-events:none;
          display:block;
        }

        &:hover:after,
        &:focus:after {
          color: $black-88-color;
        }
      }

      .subfields {
        list-style: none;
        padding: 0px;
        margin: 0px;

          li {
            display: inline-block;
          }

        &.three {
          li {
            width: 30%;
            margin-right: 5%;
            float: left;

            &:last-child {
              margin: 0;
            }
          }
        }

        &.two {
          li {
            width: 48%;
            margin-right: 4%;
            float: left;

            &:last-child {
              margin: 0;
            }
          }
        }

        &.four {
          li {
            width: 22%;
            margin-right: 4%;
            float: left;

            &:last-child {
              margin: 0;
            }
          }
        }
      }

      .error-message {
        margin-top: 5px;
        font-style: italic;
        font-weight: $thin;
        display: none;
      }

      .input-group-addon {
          background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
          border: medium none;
          height: 15px;
          padding: 0;
          position: absolute;
          right: 17px;
          top: 17px;
          width: 15px;
          z-index: 10;

          .fa {
            color: $black-22-color;
            transition: all 0.2s ease 0s;
            -webkit-transition: all 0.2s ease 0s;
          }
      }

      &.error {
        .error-message {
          display: inline-block;
        }

        .form-control {
          border-color: #a94442;
        }

        .fa {
          color: #a94442; 
        }
      }
  }

  

 

}