.margin-top-0 { margin-top: 0px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-top-30 { margin-top: 30px !important; }
.margin-top-40 { margin-top: 40px !important; }
.margin-top-50 { margin-top: 50px !important; }
.margin-top-60 { margin-top: 60px !important; }
.margin-top-70 { margin-top: 70px !important; }
.margin-top-80 { margin-top: 80px !important; }
.margin-top-90 { margin-top: 90px !important; }
.margin-top-100 { margin-top: 100px !important; }
.margin-top-150 { margin-top: 150px !important; }
.margin-top-200 { margin-top: 200px !important; }
.margin-top-minus-100 { margin-top: -100px !important; }

.margin-bottom-0 { margin-bottom: 0px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-40 { margin-bottom: 40px; }
.margin-bottom-50 { margin-bottom: 50px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-bottom-70 { margin-bottom: 70px; }
.margin-bottom-80 { margin-bottom: 80px; }
.margin-bottom-90 { margin-bottom: 90px; }
.margin-bottom-100 { margin-bottom: 100px; }
.margin-bottom-150 { margin-bottom: 150px; }

.padding-top-0 { padding-top: 0px !important; }
.padding-top-10 { padding-top: 10px !important; }
.padding-top-20 { padding-top: 20px !important; }
.padding-top-30 { padding-top: 30px !important; }
.padding-top-40 { padding-top: 40px !important; }
.padding-top-50 { padding-top: 50px !important; }
.padding-top-60 { padding-top: 60px !important; }
.padding-top-70 { padding-top: 70px !important; }
.padding-top-80 { padding-top: 80px !important; }
.padding-top-90 { padding-top: 90px !important; }
.padding-top-100 { padding-top: 100px !important; }
.padding-top-150 { padding-top: 150px !important; }
.padding-top-minus-100 { padding-top: -100px !important; }

.padding-bottom-0 { padding-bottom: 0px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-20 { padding-bottom: 20px; }
.padding-bottom-30 { padding-bottom: 30px; }
.padding-bottom-40 { padding-bottom: 40px; }
.padding-bottom-50 { padding-bottom: 50px; }
.padding-bottom-60 { padding-bottom: 60px; }
.padding-bottom-70 { padding-bottom: 70px; }
.padding-bottom-80 { padding-bottom: 80px; }
.padding-bottom-90 { padding-bottom: 90px; }
.padding-bottom-100 { padding-bottom: 100px; }
.padding-bottom-150 { padding-bottom: 150px; }

.padding-right-0 { padding-right: 0px !important; }
.padding-right-10 { padding-right: 10px !important; }
.padding-right-20 { padding-right: 20px !important; }
.padding-right-30 { padding-right: 30px !important; }
.padding-right-40 { padding-right: 40px !important; }
.padding-right-50 { padding-right: 50px !important; }
.padding-right-60 { padding-right: 60px !important; }
.padding-right-70 { padding-right: 70px !important; }
.padding-right-80 { padding-right: 80px !important; }
.padding-right-90 { padding-right: 90px !important; }
.padding-right-100 { padding-right: 100px !important; }
.padding-right-150 { padding-right: 150px !important; }
.padding-right-minus-100 { padding-right: -100px !important; }

.no-margin { margin: 0px !important; }
.no-padding { padding: 0px !important; }