.top-row {

  .navbar {

    ul.nav {
      > li {
        > a {
          color: $white-color;
          text-transform: uppercase;
          font-weight: $regular;
          font-size: 0.8em;
          padding-top: 10px;
          padding-bottom: 10px;

          &:hover {
            background-color: $white-color;
            color: $brand-color;
          }
        }
      }
    }
  }
}

.navigation-row {

  ul.nav {
    > li {

      &.active {

        position: relative;
        
        &:after {
          top: 0%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(136, 183, 213, 0);
          border-top-color: $brand-color;
          border-width: 10px;
          margin-left: -10px;
        }

        a {
          font-weight: $bold;
          color: $brand-color;
        }
      }

      > a {
        color: $grey-color;
        text-transform: uppercase;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: $thin;

        &:hover {
          background-color: $brand-color;
          color: $white-color;
        }
      }
    }
  }

  .navbar-form {

    margin-bottom: 7px;

    .form-control {
      border: 0.5px solid $base-color;
      border-radius: 20px;
      width: 300px;
      font-weight: thin;
      font-style: italic;
    }

    button {
      left: -38px;
      position: relative;
      color: $base-color;
      background: none;
      border: none;
      border-radius: 50%;
      height: 33px;
      width: 34px;
      top: 1px;
      &:hover {
        color: $white-color;
        background-color: $base-color;
      }
    }
  }

}


.navbar {
	margin: 0px;
	padding: 0px;
	border: none;
	min-height: auto;
}

.navbar-toggle {
	border: 0px;
	margin: 15px 0 0 0px;
	padding: 0px;

	.icon-bar {
		background-color: $brand-color;
	}
}

.navbar-brand {
	padding: 0px;
	height: 70px;

	img {
		height: 50px;
		width: auto;
	}
}

@media (max-width: 768px) { 

	ul.nav {
		> li {
			&.active {
			    &:after {
			    	display: none;
			    }
			}

			a {
				text-align: center;
			}
		}
	}
}