a,
button {
	&:hover {
		-webkit-transition: background-color 0.5s ease;
	    -moz-transition: background-color 0.5s ease;
	    -ms-transition: background-color 0.5s ease;
	    -o-transition: background-color 0.5s ease;
	    transition: background-color 0.5s ease;
	}
}

h1 {
	font-size: 36px;
	font-weight: $regular;
	font-style: italic;
}

h2 {
	font-size: 72px;
	font-weight: $bold;
}

h3 {
	font-size: 24px;
	font-weight: $bold;
	letter-spacing: 10px;
	text-transform: uppercase;
}

h4 {
	font-size: 48px;
	font-weight: $thin;
	color: $brand-color;
	margin-top: 0;
	margin-bottom: 15px;
}

h5 {
	font-size: 24px;
	font-weight: $regular;
	font-style: italic;
}

.text-center {
  text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.white {
	color: $white-color;
}

.white-88 {
	color: $white-88-color;
}

.white-66 {
	color: $white-66-color;
}