// Base colors
$base-color: #28c1e5;
$base-10-color: rgba($base-color, 0.1);
$base-22-color: rgba($base-color, 0.22);
$base-44-color: rgba($base-color, 0.44);
$base-66-color: rgba($base-color, 0.66);
$base-88-color: rgba($base-color, 0.88);

$base-dark-color: #17b0d4;
$base-dark-10-color: rgba($base-dark-color, 0.1);
$base-dark-22-color: rgba($base-dark-color, 0.22);
$base-dark-44-color: rgba($base-dark-color, 0.44);
$base-dark-66-color: rgba($base-dark-color, 0.66);
$base-dark-88-color: rgba($base-dark-color, 0.88);

$accent-color: #fe8542;
$accent-10-color: rgba($accent-color, 0.1);
$accent-22-color: rgba($accent-color, 0.22);
$accent-44-color: rgba($accent-color, 0.44);
$accent-66-color: rgba($accent-color, 0.66);
$accent-88-color: rgba($accent-color, 0.88);

$accent-dark-color: #ed7431;
$accent-dark-10-color: rgba($accent-dark-color, 0.1);
$accent-dark-22-color: rgba($accent-dark-color, 0.22);
$accent-dark-44-color: rgba($accent-dark-color, 0.44);
$accent-dark-66-color: rgba($accent-dark-color, 0.66);
$accent-dark-88-color: rgba($accent-dark-color, 0.88);

$brand-color: #ebb9bd;
$brand-10-color: rgba($brand-color, 0.1);
$brand-22-color: rgba($brand-color, 0.22);
$brand-44-color: rgba($brand-color, 0.44);
$brand-66-color: rgba($brand-color, 0.66);
$brand-88-color: rgba($brand-color, 0.88);

$brand-dark-color: #caa8ae;
$brand-dark-10-color: rgba($brand-dark-color, 0.1);
$brand-dark-22-color: rgba($brand-dark-color, 0.22);
$brand-dark-44-color: rgba($brand-dark-color, 0.44);
$brand-dark-66-color: rgba($brand-dark-color, 0.66);
$brand-dark-88-color: rgba($brand-dark-color, 0.88);

$white-color: #fff;
$white-10-color: rgba($white-color, 0.1);
$white-22-color: rgba($white-color, 0.22);
$white-44-color: rgba($white-color, 0.44);
$white-66-color: rgba($white-color, 0.66);
$white-88-color: rgba($white-color, 0.88);

$black-color: #000;
$black-10-color: rgba($black-color, 0.1);
$black-22-color: rgba($black-color, 0.22);
$black-44-color: rgba($black-color, 0.44);
$black-66-color: rgba($black-color, 0.66);
$black-88-color: rgba($black-color, 0.88);

$grey-color: #727475;
$grey-10-color: rgba($grey-color, 0.1);
$grey-22-color: rgba($grey-color, 0.22);
$grey-44-color: rgba($grey-color, 0.44);
$grey-66-color: rgba($grey-color, 0.66);
$grey-88-color: rgba($grey-color, 0.88);

$background-color: #fefefe;
